.toolbar-top {
    display: flex;
    height: 2vh;
    flex-direction: row;
    min-height: 56px;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.toolbar-headline{
    min-width: 100px;
    flex: 1 1 0px;
}

.title-page {
    color: #34373d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 0.1rem;
}

.subtitle-page {
    color: #505050; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: 600;
}

.MuiMenu-paper {
    border: 1px solid #aaa,
}
