$drawerWidth : 240px;

.root {
    display: 'flex',
}

.grow {
    flex-grow: 1;
}

.menuButton {
    margin-right: 36px,
}

.title {
    display: none;
}

.search {
    border-radius: 3px;
    background-color: transparentize( white, 0.3);
    margin-right: 2rem;
    margin-left: 0rem;
    width: 120%;
    display: flex;
}

.searchIcon {
    opacity: 1;
    color: black;
    height: 100%;
    margin: 0.2rem 0.5rem 0.2rem 0.5rem;
    padding: 0.1rem;
    pointer-events: none;
    align-items: center;
    justify-content: center,
}

.MuiInputBase-input{
    color: black;
    &:focus {
        width: 100%;
        margin-left: 0.5rem;
        margin-right: 1rem;
    } 
}

.sectionDesktop {
    display: none,
}

.sectionMobile {
    display: flex,
}


.appBar{
    z-index: 1201 !important;
    transition: width;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0ms 0ms;
}

.appBarShift {
    width: calc(100% - #{$drawerWidth}) !important;
    transition: width;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.hide{
    display: none,
}

.drawer {
    width: $drawerWidth;
    flex-shrink: 0;
    white-space: nowrap;
}

.drawerOpen {
    width: $drawerWidth;
    transition: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.drawerClose{
    width: 48px;
    transition: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    overflow-x: hidden !important;
}

@media (min-width: 0px) and (orientation: landscape) {
    .toolbar {
        min-height: 48px;
    }
}

@media (min-width: 600px) {
    .title {
        display: block;
    }
    .toolbar {
        min-height: 64px;
    }
    .sectionMobile {
        display: none;
    }
    .sectionDesktop{
        display: flex;
    }
    .search{
        margin-left: 3rem;
        width: auto;
    }
    // .drawerClose {
    //     padding: 0px;
    //     margin: 0px;
    // }
}

@media (max-width: 768px){
    .inputInput {
        width: 20ch;
    }
}