.toolbar-top {
    display: flex;
    flex-direction: row;
}

.toolbar-headline{
    min-width: 100px;
    flex: 1 1 0px;
}

.title-page {
    color: #34373d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2rem;
    font-weight: 600;
}

.subtitle-page {
    color: #505050;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

.toolbar-sort {
    font-weight: lighten;
    font-size: 1.4rem;
    align-items: center;
}

.MuiMenu-paper {
    border: 1px solid #aaa,
}

.MuiButtonBase-root {
    
}